<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.swpu.info.college_website.dao.Impl.ImgDaoImpl">
    <!--按照主键查找图片的相关信息-->
    <select id="selectOneByKey" parameterType="java.lang.Integer" resultType="cn.edu.swpu.info.Img">
        SELECT id,Imgname from img where id=#{Id,jdbcType=INTEGER}
    </select>
    <!--查找所有的图片信息-->
    <select id="selectObjectList" resultType="cn.edu.swpu.info.Img">
        SELECT id,Imgname from img
    </select>

    <select id="countByExample" parameterType="cn.edu.swpu.info.Img" resultType="java.lang.Integer">
    select MAX(id) from img
  </select>
    <!--添加轮播图片信息-->
    <insert id="insertObject" parameterType="cn.edu.swpu.info.Img" >
        insert  into img
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Id !=null">
                id,
            </if>
            <if test="Imgname !=null">
                Imgname,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="Id !=null">
                #{Id,jdbcType=INTEGER},
            </if>
            <if test="Imgname !=null">
                #{Imgname,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--根据主键进行删除图片相关信息-->
    <delete id="deleteByKey" parameterType="java.lang.Integer">
        delete from img where id=#{Id,jdbcType=INTEGER}
    </delete>
</mapper>